.btn{
	.transition(0.2s);
	.fh;
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: 40px;
	line-height: 40px;
	font-size: @fsp;
	font-weight: normal;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: visible;
	color: #fff;
	outline: none;
	text-align: center;
	background: @cl;
	&:hover{
		background: darken(@cl,10%);
	}
}
.fileinputs {
	&:hover{
		input[type="button"] {
			background: darken(@cl,10%);
		}
	}
}