// fonts
.fp {font-family: 'Source Sans Pro',sans-serif;} // font primary
.fh {font-family: 'Khand',sans-serif;} // font header
.fi {font-family: 'fontello',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@c1: #333;
@c2: #0092b2;
@c3: #242424;
@cp: @c1; // color primary
@cl: @c2; // color link

// font sizes
@fsp: 18px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 1140px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 10px;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1200px)";
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(max-width: 767px)";