@font-face {
	font-family: 'Khand';
	src: url('khand-regular-webfont.eot');
	src: url('khand-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('khand-regular-webfont.woff2') format('woff2'),
		 url('khand-regular-webfont.woff') format('woff'),
		 url('khand-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}