
.icon-mobile:before { content: '\e800'; } /* '' */
.icon-down-circle:before { content: '\e801'; } /* '' */
.icon-left-circle:before { content: '\e802'; } /* '' */
.icon-right-circle:before { content: '\e803'; } /* '' */
.icon-up-circle:before { content: '\e804'; } /* '' */
.icon-eye:before { content: '\e805'; } /* '' */
.icon-location:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-plus:before { content: '\e808'; } /* '' */
.icon-minus:before { content: '\e809'; } /* '' */
.icon-arr-right-thin:before { content: '\e80a'; } /* '' */
.icon-arr-left-thin:before { content: '\e80b'; } /* '' */
.icon-arr-up-thin:before { content: '\e80c'; } /* '' */
.icon-arr-down-thin:before { content: '\e80d'; } /* '' */
.icon-home:before { content: '\e80e'; } /* '' */
.icon-menu:before { content: '\e80f'; } /* '' */
.icon-eye-1:before { content: '\e810'; } /* '' */